<%- model_class = Paciente.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:lugar_de_nacimiento) %></th>
      <th><%= model_class.human_attribute_name(:antecedentes_patologicos) %></th>
      <th><%= model_class.human_attribute_name(:antecedentes_no_patologicos) %></th>
      <th><%= model_class.human_attribute_name(:antecedentes_heredofamiliares) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= link_to paciente.id, paciente_path(paciente) %></td>
        <td><%= paciente.nombre %></td>
        <td><%= paciente.telefono %></td>
        <td><%= paciente.lugar_de_nacimiento %></td>
        <td><%= paciente.antecedentes_patologicos %></td>
        <td><%= paciente.antecedentes_no_patologicos %></td>
        <td><%= paciente.antecedentes_heredofamiliares %></td>
        <td><%=l paciente.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_paciente_path(paciente), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      paciente_path(paciente),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_paciente_path,
            :class => 'btn btn-primary' %>
